/* mixins */

$blue:  #329ec0;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin zero {
  margin: 0 !important;
  padding: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.zero {
  @include zero;
}

/* UTIL */
.tar { text-align: right }
.delete {
  border: 2px aqua dotted;
}

/* GENERAL */

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: #444;
  font-weight: 300;
}

a { color: $blue; }

h1,
h2,
h3 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 28px;
}

h2.lema {
  color: $blue;
  font-family: 'Lato', sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}

.nav { font-size: 16px; }

em { font-weight: bold; font-style: normal; }

.badge a {
  color: #FFF;
}

.badge.help-link {
  background-color: #33bbee;
}

.badge-important {
background-color:#CF1E13;
}

/* TOP MENU */

.brand {
  margin-top: -.1em;
  font-weight: bold;
  font-size: 36px;
  line-height: 0.7em;
  color: #000;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  &:hover {
    color: #27BCFB;
  }
  h1 {
    display: inline-block;
    font-weight: 400;
    margin: 0;
    span {
      font-weight: normal;
    }
  }
  h2 {
    display: inline-block;
    font-size: .4em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

ul.nav {
  padding-top: .45em;
  li > a {
    padding: 9px 7px 9px !important;
  }
  a.signup-button {
    background: $blue !important;
    color: #fff !important;
    margin-top: 2px;
  }
  a.signup-button:hover {
    background: #74CCFD !important;
  }
}

/* FOOTER */
footer { margin-top: 60px; }

#footer p a { color: #ddd; }

#footer h3 { margin-bottom:8px;}
#footer ul { list-style:none; padding-left:0.4em; font-size:0.85em;}
#footer ul li { margin-bottom:1px;}
#footer ul li a { color:#fefefe;}

/* GENERAL */
.nav-tabs li.active { font-weight: bold; }

/* FORMS */
label.control-label { color: #111; }
input[type=text], input[type=email], input[type=password] { color: #222; }
.help-inline {
  font-size: 0.9em;
}

.screenshot {
  box-shadow:3px 3px 3px #ddd;
  padding:0.5em;
  margin:0.5em;
  border:1px solid #ddd;
}

.percent95 {
  width: 95%;
}

/* MODALS */

.modal-big {
    width: 700px;
    margin-left: -350px;
}

@media (max-width: 767px) {
    .modal-big {
        width: auto;
        margin-left: auto;
    }
}

.pagination { text-align: center; }


/* TESTIMONIALS */
.member-testimonial .member-name{
  padding-top: 30px;
  font-weight: 700;
}

.member-testimonial .member-bio{
  font-size: 1em;
}


/* COOKIES
-----------------------------------------------------------------------------*/

#cookies_notice {
  border-top: 1px dashed #FFF;
  position: fixed; width: 90%; left: 0; bottom: 0; padding: 0.8em 5%; background: #111; background: rgba(1,1,1,0.85); color: #fff; font-size: 13px; font-weight: 700; text-shadow: 0 -1px 0 rgba(0,0,0,0.35); z-index: 99999; text-align: center;
}

/* HOME
-----------------------------------------------------------------------------*/

.signupfree {
  text-align: center;
  small {
    font-size: 0.7em;
    font-weight: thin;
  }
}

.signupfree:hover {
  color: black;
  small {
    color: #444;
  }
}

.lead-container {
  background: url('/images/template/carousel-macbook-background.png') 0 339px repeat-x;
  #intro_video, #intro_form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .intro-titlebar {
    padding-top: 2em;
    text-align:center;
    h1 {
      font-size: 44px;
      color: #44a2c0;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 0;
      }
    h2.lema {
      font-size: 32px;
      text-transform: uppercase;
    }
    strong {
      color: #333;
    }
  }

  div.form_signup {
    max-width: 450px;
    background: rgba(45, 143, 172, 0.75);
    margin: 0 auto;
    padding: 20px 20px 25px;
    text-align: center !important;
    @include border-radius(5px);
    h2 {
      color: #FFF;
      font-weight: 300;
    }
  	form div {
  	  margin-bottom: .6em;
      width: 100%;
      padding:0;
      input[type="text"], input[type="email"], input[type="password"]{
        border: 0;
      }
      select {
        display: inline;
        width: 228px;
      }
      input[type="submit"] {
        margin-top: 1.3em;
      }
  	}
    #form_info_text {
      color: #FFF;
      font-size: .9em;
      a {
        color: #FFF;
        font-weight: bold;
      }
    }
  }
}

/* BLOG */

.post {
  background-color: #FFF;
  border: 1px solid #eee;
  border-radius: 0.6em;
  padding: 30px 40px;
  margin-bottom: 25px;

  ul {
    margin-left: 50px;
  }

  li {
    margin-bottom: 8px;
  }

  .screenshot {
    margin: 10px;
  }
}

div#disqus_thread {
  margin-top: 30px;
}

/* CALENDAR ICON http://www.sitepoint.com/create-calendar-icon-html5-css3/ */

time.icon
{
  float: right;
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 0.5em 0.65em 1em 1em;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  width: 100%;
  font-size: 2.6em;
  letter-spacing: -0.05em;
  padding-top: 1.2em;
  color: #2f2f2f;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

/* NEWS */

#mc_embed_signup {
  background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;
  span.asterisk { margin-top: 12px; }
}

.display_archive {font-family: arial,verdana; font-size: 1em;}
.campaign {line-height: 125%; margin: 10px;}

/* HOME */
@media (max-width: 999px) {
  .navbar .nav {
    margin-top: -2em;
  }
  #intro_video {
    width: 100%;
  }
  #intro_form {
    width: 100%;
  }
}
