  <!-- Footer
  ================================================== -->

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h3>About Site Validator</h3>
          <ul>
            <li><a href="https://app.sitevalidator.com/pricing">Pricing</a></li>
            <li><a href="/client-testimonials">Client Testimonials</a></li>
            <li><a href="https://app.sitevalidator.com/terms_of_service">Terms of Service</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
        <div class="span4">
          <h3>Articles, guides and tutorials</h3>
          <ul>
            <li><a href="http://docs.sitevalidator.com/site-wide-validation/">Site-wide Validation</a></li>
            <li><a href="http://docs.sitevalidator.com/continuous-validation/">Continuous Validation</a></li>
            <li><a href="http://docs.sitevalidator.com/validating-your-local-server/">Validating your Local Server</a></li>
            <li><a href="http://docs.sitevalidator.com/">Documentation</a></li>
            <li><a href="http://docs.sitevalidator.com/faqs">Frequently Asked Questions</a></li>
          </ul>
        </div>
        <div class="span4 social-networks">
          <p>
            <a class="social-network twitter" href="http://twitter.com/SiteValidator"></a>
            <a class="social-network gplus2" href="https://plus.google.com/communities/103107698257397410336"></a>
            <a class="social-network facebook" href="http://facebook.com/SiteValidator"></a>
            <a class="social-network rss" href="http://feeds.feedburner.com/SiteValidator"></a>
            <a class="social-network email" href="mailto:support@sitevalidator.com"></a>
          </p>

          <div class="newsletter">
            <h3>Newsletter</h3>
            <p>Get our curated newsletter about web page validation</p>
            <%= image_tag 'template/ajax-loader.gif', :class => 'ajax-loader', :alt => "" %>
            <form action="https://www.getrevue.co/profile/rocketvalidator/add_subscriber" method="post" id="newsletter-form">
              <input type="email" value="your email" name="member[email]" id="member_email" placeholder="your email" onfocus="this.value='';" required>
              <button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
            </form>
          </div>

        </div>
      </div> <!-- end .row -->

    </div> <!-- end .container -->
  </footer><!-- end #footer -->

  <footer id="copyright">
    <div class="container">
      <div class="row">
        <div class="span12" style="padding:5px 0; font-size: 0.9em;">
          <a href="https://instantssl.com/ssl.html" target="_blank" style="text-decoration:none; float: right;">
            <img alt="SSL" src="https://www.instantssl.com/ssl-certificate-images/support/comodo_secure_76x26_transp.png" style="border: 0px; vertical-align: absmiddle;" />
          </a>

          Site-wide continuous <strong>HTML, CSS and Accessibility validation for large sites</strong>.
          Not associated with W3C or Tenon.
          <a href="https://app.sitevalidator.com/pricing">Try it now</a>.
        </div>
      </div> <!-- end .row -->

    </div> <!-- end .container -->
  </footer><!-- end #footer-extra -->

  <!-- Javascript - Placed at the end of the document so the pages load faster
  ================================================== -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/noty/themes/relax.js"></script>
  <script type="text/javascript" src="/javascripts/noty/packaged/jquery.noty.packaged.min.js"></script>

  <script type="text/javascript" src="/javascripts/app.js"></script>

  <%= javascript_include_tag "template/responsive_navigation.js" %>

  <script charset="utf-8" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-122379-37', 'sitevalidator.com');
    ga('send', 'pageview');
  </script>

  <!-- Start of Async Drift Code -->
  <script>
  !function() {
    var t;
    if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
    t.methods = [ "identify", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n;
        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e, n, o, r;
      e = 3e5, r = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + r + "/" + t + ".js",
      n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
    });
  }();
  drift.SNIPPET_VERSION = '0.2.0'
  drift.load('rpkrzi6vkdmx')
  </script>
  <!-- End of Async Drift Code -->
