  <!-- Footer
  ================================================== -->

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h3>About Site Validator</h3>
          <ul>
            <li><a href="https://app.sitevalidator.com/pricing">Pricing</a></li>
            <li><a href="/client-testimonials">Client Testimonials</a></li>
            <li><a href="https://app.sitevalidator.com/terms_of_service">Terms of Service</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="http://status.sitevalidator.com">Status</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
        <div class="span4">
          <h3>Articles, guides and tutorials</h3>
          <ul>
            <li><a href="http://docs.sitevalidator.com/site-wide-validation/">Site-wide Validation</a></li>
            <li><a href="http://docs.sitevalidator.com/continuous-validation/">Continuous Validation</a></li>
            <li><a href="http://docs.sitevalidator.com/validating-your-local-server/">Validating your Local Server</a></li>
            <li><a href="http://docs.sitevalidator.com/">Documentation</a></li>
            <li><a href="http://docs.sitevalidator.com/faqs">Frequently Asked Questions</a></li>
          </ul>
        </div>
        <div class="span4 social-networks">
          <p>
            <a class="social-network twitter" href="http://twitter.com/SiteValidator"></a>
            <a class="social-network gplus2" href="https://plus.google.com/communities/103107698257397410336"></a>
            <a class="social-network facebook" href="http://facebook.com/SiteValidator"></a>
            <a class="social-network rss" href="http://feeds.feedburner.com/SiteValidator"></a>
            <a class="social-network email" href="mailto:support@sitevalidator.com"></a>
          </p>

          <div class="newsletter">
            <h3>Newsletter</h3>
            <p>Be the first to know about our news and special deals!</p>
            <%= image_tag 'template/ajax-loader.gif', :class => 'ajax-loader', :alt => "" %>
            <form action="https://w3clove.us4.list-manage.com/subscribe/post?u=6af3ab69c286561d0f0f25671&amp;id=04a0dab609" method="post" id="newsletter-form">
              <input type="email" value="your email" name="EMAIL" id="mce-EMAIL" placeholder="your email" onfocus="this.value='';" required>
              <input type="hidden" name="bot" /><!-- SPAM protection -->
              <button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
            </form>
          </div>

        </div>
      </div> <!-- end .row -->

    </div> <!-- end .container -->
  </footer><!-- end #footer -->

  <footer id="copyright">
    <div class="container">
      <div class="row">
        <div class="span12" style="padding:5px 0; font-size: 0.9em;">
          <a href="https://instantssl.com/ssl.html" target="_blank" style="text-decoration:none; float: right;">
            <img alt="SSL" src="https://www.instantssl.com/ssl-certificate-images/support/comodo_secure_76x26_transp.png" style="border: 0px; vertical-align: absmiddle;" />
          </a>

          Site-wide continuous <strong>HTML, CSS and Accessibility validation for large sites</strong>.
          Not associated with the W3C, Google or Tenon.
          <a href="https://app.sitevalidator.com/pricing">Try it now</a>.
        </div>
      </div> <!-- end .row -->

    </div> <!-- end .container -->
  </footer><!-- end #footer-extra -->

  <!-- Javascript - Placed at the end of the document so the pages load faster
  ================================================== -->
  <%= javascript_include_tag "template/responsive_navigation.js" %>

  <script charset="utf-8" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-122379-37', 'sitevalidator.com');
    ga('send', 'pageview');
  </script>
