  <!-- Header
  ================================================== -->
  <header id="header">
    <!-- Navigation
    ================================================== -->
    <nav class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <!-- Logo -->
          <a class="brand" href="/">
            <h1>✔ Site <strong>Validator</strong></h1>
            <h2 class="lema"><span>Site-wide</span> validation</h2>
          </a>
          <ul class="nav">
            <li><a href="/features">Features</a></li>
            <li><a href="https://app.sitevalidator.com/pricing">Pricing</a></li>
            <li><a href="https://docs.sitevalidator.com/" target="_blank">Documentation</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://app.sitevalidator.com/"><strong>Log in</strong></a></li>
            <li><a href="https://app.sitevalidator.com/users/sign_up" class="badge signup-button"><strong>Sign up</strong></a></li>
          </ul>
        </div><!-- end .container -->
      </div><!-- end .navbar-inner -->
    </nav>
  </header>
