  <!-- Header
  ================================================== -->
  <header id="header">
    <!-- Navigation
    ================================================== -->
    <nav class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <!-- Logo -->
          <a class="brand" href="/">
            <span style="font-weight: normal;">✔ Site</span> Validator
          </a>
          <ul class="nav">
            <li><a href="/features">Features</a></li>
            <li><a href="https://app.sitevalidator.com/pricing">Pricing</a></li>
            <li><a href="http://forum.sitevalidator.com" target="_blank">Forum</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://app.sitevalidator.com/"><strong>Log in</strong></a></li>
            <li><a href="https://app.sitevalidator.com/users/sign_up" class="badge signup-button"><strong>Sign up</strong></a></li>
          </ul>
        </div><!-- end .container -->
      </div><!-- end .navbar-inner -->
    </nav>
  </header>
