---
date: 2013-03-15
title: "WebPlatformTools"
tags: tools
---

We've just discovered a good compilation of free online tools for web developers and wanted to share it with you:<br><br>WebPlatformTools.org is a curated collection of free online web design &amp; development services and tools that don't require local installation or registration to use; you'll find there tools for client support, image editing, fonts, design, and also markup validation.<br><br>Check it out:&nbsp;<a rel="nofollow" target="_blank" href="http://webplatformtools.org/">http://webplatformtools.org/</a><br><br><br>
