---
date: 2013-03-21
title: "Validating the HTML5 &lt;main&gt; element"
tags: improvements,servers,html-validation,w3c,html5,validator-nu
---

We've upgraded our HTML validation server to the latest version of <a rel="nofollow" target="_blank" href="http://validator.nu">Validator.nu</a>, so it now accepts as valid the new HTML5 <b>&lt;main&gt;</b> element.<br><br>This new tag, according to the <a rel="nofollow" target="_blank" href="http://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-main-element">W3C specification</a>, should be&nbsp;used to&nbsp;represent the main content of the body of a document or application:<br><br><div><i>The main element represents the main content of the body of a document or application. The main content area consists of content that is directly related to or expands upon the central topic of a document or central functionality of an application.&nbsp;</i><i>Authors must not include more than one main element in a document.&nbsp;</i><i>Authors must not include the main element as a child of an article, aside, footer, header or nav element.</i></div><div><i><br></i>You can read more about the use of this new HTML5 tag here:<br><br><a rel="nofollow" target="_blank" href="http://www.sitepoint.com/html5-main-element/">Introducing the new HTML5 &lt;main&gt; element</a></div><br><br>
