---
date: 2013-04-01
title: "Validating the longdesc attribute"
tags: improvements,servers,html-validation,w3c,html5,validator-nu
---

We've upgraded our HTML validation server so that it now validates the recently introduced <b>longdesc</b> attribute for images, as defined in HTML5.<br><br>The longdesc attribute allows web developers to link extended descriptions with images in HTML5-based content. This attribute must contain a valid URL for the extended description of the image.<br><br>Read more about the longdesc attribute here:<br><br><a rel="nofollow" target="_blank" href="http://www.w3.org/TR/html-longdesc/">http://www.w3.org/TR/html-longdesc/</a><br>
