---
date: 2013-09-25
title: "New release of the free site_validator gem"
tags: open-source,html-validation,free,gem
---

We've released a new version of our free, open source, command-line version of Site Validator.<br><br>The site_validator is a command-line version of our service, that can be installed on your computer as a ruby gem, and lets you validate HTML on your sites right from your terminal.<br><br>On this latest release, we're now including code snippets showing the context of the errors found on your pages, and also an explanation about the validation messages given by the W3C validator.<br>You can see how to install and use it in this short video:<br><br><a rel="nofollow" target="_blank" href="https://sitevalidator.wistia.com/medias/tk2nit1zdd"><img alt="" src="https://dl.dropboxusercontent.com/u/2268180/sitevalidator_gem_video.png"></a><br><br>For more information about the site_validator gem, check out this page:<br><br><a rel="nofollow" target="_blank" href="http://gem.sitevalidator.com/"><b>http://gem.sitevalidator.com</b></a><br><br><br>
