---
date: 2013-07-20
title: "Free, open source site validation"
tags: open-source,html-validation,tools,free,site_validator
---

<b>Open source is great</b>. Without it, Site Validator would simply have not been possible. You know, it's like&nbsp;standing on the shoulders of giants.<br><br>We rely on open source software from&nbsp;the W3C, from the Ruby community&nbsp;and from the GNU/Linux community. But what is not so widely known is that Site Validator itself started as an open source project.<br><br>And since then, it has been maintained and kept free for all to use and collaborate. And it's on our plans to make it grow and add many more features to it.<br><br>We've recorded this short screencast to show you how, in one minute, you can install and validate any site of your choice:<br><br><a rel="nofollow" target="_blank" href="https://sitevalidator.wistia.com/medias/tk2nit1zdd"><img alt="" src="https://dl.dropboxusercontent.com/u/2268180/sitevalidator_gem_video.png"></a><br><br>Right now, the site_validator tool only validates HTML.<br>For advanced features like CSS validation, deep-link crawling, results storing and team collaborations, check the awesome&nbsp;<a rel="nofollow" target="_blank" href="http://sitevalidator.com/">Site Validator</a><span>.<br><br>Learn how to install site_validator on your computer on:<br><a rel="nofollow" target="_blank" href="http://gem.sitevalidator.com/"><b>http://gem.sitevalidator.com</b></a><br></span>
