---
date: 2013-07-23
title: "Comments are here: join the conversation!"
tags: top-100,blog,community,comments
---

Until now, only registered users could leave comments on our site, but we wanted to invite everyone from the internets to participate in the conversation.<br><br>We're happy to announce that today we've integrated Disqus on our site, so we can have a wider conversation. Everyone is invited to participate on the <a rel="nofollow" target="_blank" href="http://sitevalidator.com/blog">Blog</a>, and also on the user-contributed guide about fixing the most common validation errors and warnings.<br><br>I wanted to thank specially the awesome <a rel="nofollow" target="_blank" href="http://www.lewishowles.co.uk">Lewis Howles</a>, who did an incredible work by giving a fix to each and every Top 100 HTML error on the list. His contributions have been promoted to the top of the page, and so will be all future collaborations that we receive through Disqus.<br><br>See you!<br><br><br>
