---
date: 2013-03-17
title: "W3Conf 2013 videos now available"
tags: w3c,w3conf,conferences
---

On February 21st and 22nd, <b><a rel="nofollow" target="_blank" href="http://www.w3.org/conf/2013sf/index.html">W3Conf 2013</a></b> was held in San Francisco.<br><br>With the lemma "Practical standards for web professionals", this conference organized by the W3C is the meeting place for the top speakers on the W3C world.<br><br>Now, the videos and slides for the presentations have been released, and can be seen on this page:<br><br><a rel="nofollow" target="_blank" href="http://www.w3.org/conf/2013sf/video.html">http://www.w3.org/conf/2013sf/video.html</a><br><br>Check them out for great talks about topics like Web Platform docs and community, the top web features you can use today, practical accessibility for web professionals, html5 security, desktop vs mobile development, CSS secrets, and more.
