---
title: Storing versions of your site validation reports
tags: improvements, reports, plans and pricing
layout: blog
---

<div>Until now, you could only have the latest validation results for your sites stored on Site Validator. When you re-checked a site, the old results where replaced with the latest results.<br></div><div><br></div><div>We've just changed that so, from now on, you can store different versions of your site validation reports.</div><div><br></div><div><b>Comparing results</b></div><div><br></div><div>A new validation workflow that this new feature enables is storing a history of your validations.</div><div><br></div><div>For example, let's suppose one of your clients wants you to fix a site. You can run a site validation, and have these results as a reference. Then, you can fix all the validation errors and run more reports, and they will all be stored. Finally, you can show your clients the "before" and "after" of your work.</div><div><br></div><div><b>Different options for the same site</b></div><div><br></div><div>You also can customize the options on each site validation report, so for example, you can generate a report to validate only HTML on 500 pages, and a separate report for the same site to validate only CSS on just 5 pages.</div><div><br></div><div><b>Sharing reports with your clients and colleagues</b></div><div><br></div><div>It's now easier to share a site validation report with other people, like your clients or colleagues, even if they don't have an account on Site Validator.</div><div><br></div><div>To share a site report, you just need to send them its URL. You can use the sharing icons on the left sidebar to send it via email, or if you want, you can share this on social networks to show your progress.&nbsp;</div><div><br></div>
<div><b>Pricing changes</b></div>
<div><br></div>
<div>With these latest improvements, we've changed a bit how pricing works, check out the <a target="_blank" href="https://app.sitevalidator.com/pricing">Pricing</a> page to see how many stored sitemaps and credits each subscription plan offers. For subscriptions created before this change, we'll still apply the same credit amount that was in effect on the time of the subscription.</div>
<div><br></div>

<div><b>UPDATE:</b></div>
<div><br></div>
<div>All users with an active subscription have <a href="/blog/2015/01/unlimited-storage/">unlimited storage of site reports</a> now.</div>

<div><br></div><div>Happy validating!</div>
