---
date: 2014-04-14
title: "Introducing the Site Validator Forum"
tags: developers,improvements,community,forum
---

We're happy to announce the launch of the<b> </b><a rel="nofollow" target="_blank" href="http://forum.sitevalidator.com/"><b>Site Validator Forum</b></a>, and welcome all web developers to talk about web validation. Need help about fixing a particular error, want to help others, or want to share a brand new tool or technique you've just discovered? Do so at the new forum.<br><br><a rel="nofollow" target="_blank" href="http://forum.sitevalidator.com"><img alt="" src="https://sitevalidator.s3.amazonaws.com/uploads/image_asset/storage/19/half_Captura_de_pantalla_2014-04-14_a_la_s__13.22.34.png"></a><br><br>The forum is open to everyone to participate, you don't need a Site Validator account to log in (you can log in using your Twitter, Facebook, Google, Yahoo or Github account). Initially we've set up categories for <b>HTML, CSS, JavaScript and Accessibility</b>, but feel free to suggest others.<br><br>We've chosen the state-of-the-art <a rel="nofollow" target="_blank" href="http://www.discourse.org">Discourse</a> platform for the new forum. Discourse is great for building online communities, very simple to use,&nbsp;and is specially good for talking about code thanks to its built-in syntax highlighting.<br><br>See you at the forum!<br><br><br><br><br>
