---
date: 2014-05-15
title: "Fifteen Servers: a look at our internal architecture"
tags: servers
---

At Site Validator we strive to provide the simplest way to validate the markup of your sites, so all you need to do is enter an URL and click a button, but if like us you're passionate about tech stories, here's a description of our current setup, which involves the collaboration of (at least) fifteen servers to get the job done:<br><br><a rel="nofollow" target="_blank" href="http://jaimeiniesta.com/articles/fifteen-servers/">Fifteen Servers</a>
