---
date: 2014-06-13
title: "Yearly subscriptions"
tags: plans-and-pricing,improvements
---

Site Validator is a subscription-based service. You choose a plan, and you get a number of credits that you can use to validate your web sites.<br><br>Until now, we've been offering monthly subscriptions, so you get your initial load of credits when you subscribe and they're recharged, and you're invoiced for,&nbsp;every month.<br><br>Beginning today, we're also offering <b>yearly subscriptions</b>. By choosing one of the annual plans, you get all the credits for the 12 months at once, and they're recharged yearly.<br><br>This also means that you'll only get <b>one invoice per year</b> from us, less paperwork, yay!<br><br>And last but not least, you'll also get an important discount, you get <b>12 months for the price of 10</b>.<br><br>For example, if you subscribe to the Freelancer plan, yearly, you'll get 60,000 credits to validate your pages for only $240/year (instead of the $24x12 = $288 that you'd pay per year with the monthly subscription).<br><br>Check out the new yearly subscription plans:<br><br><a rel="nofollow" target="_blank" href="https://app.sitevalidator.com/pricing?payment=yearly">https://app.sitevalidator.com/pricing?payment=yearly</a><br><br>
