---
title: W3C Validator is legacy, long live Validator.nu
tags: improvements, html validation
layout: blog
---

<p>It may not be apparent, but the W3C HTML Validator that we've been using all these years, yes, the one at <strong><a href="http://validator.w3.org">validator.w3.org</a>, is dead</strong>.</p>
<p>Well, at least as dead as a software service can be. It's still there, but it's not being actively maintained: its latest change dates back to <a href="https://github.com/w3c/legacy-markup-validator/commit/958a0e2f39a32b4aae96f8a2996623d0888c303a">September 2013</a> and, well, the name of the official W3C repository states it clear: <a href="https://github.com/w3c/legacy-markup-validator">legacy-markup-validator</a>.</p>
<p>Under the hood, a faster, more modern and more robust validator has been in charge of validating HTML5 web pages. Its name is <a href="https://validator.nu/">Validator.nu</a> but now it doesn't like to be called that way, and prefers to be called <a href="http://validator.w3.org/nu/">Nu HTML Checker</a>. And yes, it lives within the W3C domains, you'll find it at <strong><a href="http://validator.w3.org/nu/">validator.w3.org/nu</a></strong>.</p>
<p>The Nu HTML Checker is being <a href="https://github.com/validator/validator/commits/master">actively maintained</a>, with new <a href="https://github.com/validator/validator/releases">releases</a> coming out frequently.</p>
<p>On the W3C, <a href="http://people.w3.org/mike//">Mike[tm] Smith</a> (AKA <a href="http://twitter.com/sideshowbarker">@sideshowbarker</a>) is the maintainer of Validator.nu and he's recently been <a href="http://html5doctor.com/html5-check-it-before-you-wreck-it-with-miketm-smith/">interviewed at HTML5 Doctor</a> about the change to Validator.nu, you should definitely check out the interview to understand the direction that the W3C is taking in <s>validation</s> markup checking.</p>
<p>Here at <a href="https://sitevalidator.com">Site Validator</a>, we're commited to giving you the most up-to-date markup checking tools, and that's why we've dropped the legacy markup validator and installed Validator.nu exclusively.</p>
<p>To do that, we're actively contributing to open source, helping on the installation of new Validator.nu instances via <a href="https://github.com/sitevalidator/validator-nu-docker">Docker images</a>, and developing <a href="https://github.com/sitevalidator/nunchaku">clients</a> to query the Validator.nu instances.</p>
