---
title: Scheduled validations
tags: improvements, html validation, css validation, automatization
layout: blog
---

<p>Last month we introduced the <a href="https://sitevalidator.com/blog/2015/02/continuous-validation/">continuous validation</a> feature, that lets you set up automatic validations when your site changes.</p>
<p>Now, we've made it easier for everyone by introducing <strong>scheduled validations</strong>. You can now define HTML and CSS validations to be run on your sites, with a defined schedule.</p>
<p>For example, you can set up a weekly HTML validation of 500 pages on one site, and a monthly CSS validation on another. This is completely flexible and up to your needs, you can define what kind of validations you want to run and set a <strong>daily, weekly or monthly</strong> schedule for those.</p>
<p><img src="/images/site_validator_scheduled.png" class="screenshot"  alt="Scheduled validation screenshot" /></p>
<p>Site validation results will be automatically delivered to your inbox.</p>
<p><strong><a href="https://app.sitevalidator.com/pricing">Sign up now</a></strong> and start validating large sites, <strong>completely free during 14 days</strong>.</p>
