---
title: Store more validations
tags: improvements, html validation, css validation
layout: blog
---

<p>Last month we announced that you can now <a href="http://sitevalidator.com/blog/2014/12/storing-versions-of-your-site-validation-reports/">store old versions of your site validations</a>.</p>
<p>We've now increased the number of site validations that you can store:</p>
<ul>
  <li><strong>Starter</strong> subscriptors can now store up to <strong>50 reports</strong> (was 10).</li>
  <li><strong>Freelancer</strong> subscriptors can now store up to <strong>500 reports</strong> (was 50).</li>
  <li><strong>Studio</strong> subscriptors can now store up to <strong>2,000 reports</strong> (was 300).</li>
</ul>
