---
title: Accessibility checks
tags: improvements, accessibility validation
layout: blog
---

<p>We've added Accessibility checks to our validation suite, so you can now easily validate A11Y on your sites.</p>

<p>The validation software we've chosen for this task are the <a href="https://github.com/GoogleChrome/accessibility-developer-tools" target="_blank">Accessibility Developer Tools</a>, an open source validator maintained by the Google Chrome Accessibility team, which is also available as a <a href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb" target="_blank">Chrome extension</a>.</p>

<p>The Accessibility Developer Tools, ADT for short, check your pages against a series of <a href="https://docs.sitevalidator.com/site-wide-validation/#accessibility-validation" target="_blank">A11Y audit rules</a>, including checks about ARIA roles and attributes, uses of titles and alternative texts, and also check for the presence of captions in video elements and controls in audio elements, and even check the contrast ratio on the text to ensure it's legible.</p>

<p>A11Y checks are available for all Site Validator users, along with HTML and CSS validation.</p>

<p><strong><a href="https://app.sitevalidator.com/users/sign_up">Try Site Validator free for 14 days</a></strong>.</p>
