---
title: Accessibility Developer Tools Upgraded
tags: improvements, accessibility validation
layout: blog
---

<p>We've upgraded our instances of <a href="https://github.com/sitevalidator/access-lint-server">AccessLint Server</a> to the latest version, to provide you with the latest Accessibility audit rules.</p>
<p>There are the new rules added:</p>

<ul>
  <li><strong>[<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_08">AX_ARIA_08</a>]</strong> Elements with ARIA roles must ensure required owned elements are present.</li>
  <li><strong>[<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_09">AX_ARIA_09</a>]</strong> Elements with ARIA roles must be in the correct scope.</li>
  <li><strong>[<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_10">AX_ARIA_10</a>]</strong> This element has an unsupported ARIA attribute.</li>
  <li><strong>[<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_11">AX_ARIA_11</a>]</strong> This element has an invalid ARIA attribute.</li>
  <li><strong>[<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_12">AX_ARIA_12</a>]</strong> This element does not support ARIA roles, states and properties.</li>
  <li><strong>[<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_focus_01">AX_FOCUS_01</a>]</strong> These elements are focusable but either invisible or obscured by another element.</li>
  <li><strong>[<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_focus_02">AX_FOCUS_02</a>]</strong> Elements with onclick handlers must be focusable.</li>
  <li><strong>[<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_html_02">AX_HTML_02</a>]</strong> An element's ID must be unique in the DOM.</li>
</ul>

<p><a href="https://docs.sitevalidator.com/site-wide-validation/#accessibility-developer-tools">Click here to see the full list (25 rules).</a></p>
