---
title: Unlimited storage of site reports
tags: improvements, reports, plans and pricing
layout: blog
---

<p>On December we announced the possibility of <a href="http://sitevalidator.com/blog/2014/12/storing-versions-of-your-site-validation-reports">storing a history of your site validation reports</a>, and on January we <a href="http://sitevalidator.com/blog/2015/01/store-more-validations/">increased the number of site reports you could store</a>.</p>

<p>We're happy to announce now that all users with an active subscription will have <strong>unlimited storage for site reports</strong>. This will be specially useful when you want to review a history of changes in your site, and see how markup validation has improved on a particular site.</p>

<p>Also, on the following days we'll be releasing an exciting new feature called <a href="https://sitevalidator.wistia.com/medias/w2xu1aedtf">Continuous Validation</a>, that will let you define automatic validations on your sites when you deploy a new version. More to come next week, but you'll surely benefit from unlimited storage when you try this new feature!</p>
