---
title: Continuous Validation
tags: improvements, html validation, css validation, continuous validation
layout: blog
---

<p>Automating validations for your sites just got easier!</p>

<p>We've just released <strong>Continuous Validation</strong>, that lets you specify site-wide HTML and CSS validations on your sites to be run automatically after you deploy a new version of your site.</p>

<iframe class="wistia_embed" name="wistia_embed" src="http://fast.wistia.net/embed/iframe/w2xu1aedtf?canonicalUrl=https%3A%2F%2Fsitevalidator.wistia.com%2Fmedias%2Fw2xu1aedtf&canonicalTitle=Site%20Validator%20%3A%3A%20Continuous%20Validation%20-%20sitevalidator" allowtransparency="true" frameborder="0" scrolling="no" width="480" height="300"></iframe>

<p>To set up automatic validations for your sites, you just need to define what validations should be run, and instruct your hosting platform to notify us via a webhook.</p>

<p>Most modern hosting platforms now include webhooks and we're documenting how to integrate many of them, like <a href="http://docs.sitevalidator.com/continuous-validation/#example-netlify">Netlify</a>, <a href="http://docs.sitevalidator.com/continuous-validation/#example-heroku">Heroku</a> or <a href="http://docs.sitevalidator.com/continuous-validation/#example-cloud-66">Cloud 66</a>.</p>

<p><a href="http://docs.sitevalidator.com/continuous-validation/">Check out the documentation</a> to get up and running in minutes.</p>
