---
title: Take the Site Validator tour
tags: improvements
layout: blog
---

<p>While we're always trying to build the simplest interface for site validation, we're conscious that there's a lot of information contained in the reports.</p>
<p>As we don't want you to miss anything, we've built a quick step-by-step introduction to the main sections of a report.</p>
<p>Did you know, for example, that you can see the exact line and column where a validation issue is happening on your source code?</p>
<p><strong><a href="https://app.sitevalidator.com/s/cbf35b792a90aa46958f83ca015a08cbe5f72ae9?tour=1">Take the tour</a></strong></p>
<a href="https://app.sitevalidator.com/s/cbf35b792a90aa46958f83ca015a08cbe5f72ae9?tour=1"><%= image_tag 'http://sitevalidator.com/images/site_validator_take_the_tour.png', alt: 'Screenshot of the Site Validator tour', class: 'screenshot' %></a>
