---
title: Checking A11Y on Large Sites with Tenon
tags: improvements, accessibility validation
layout: blog
---

<p>Checking your site's accessibility is a very important issue to ensure you get to a broader audience.</p>

<p>Although A11Y checking has been a quite complicated issue, fortunately now we have powerful, modern tools to help us with this task. <a href="http://tenon.io" target="_blank">Tenon.io</a> is, by far, the most complete tool for Accessibility checking, covering currently 90 A11Y audit rules and growing.</p>

<p>We've now integrated Tenon into Site Validator, so you can now check A11Y on your large sites. All you need to do is sign up for a Tenon account and enter your Tenon API Key into your Site Validator account.</p>

<br />

<iframe width="560" height="315" src="https://www.youtube.com/embed/_uq6Db47-Ks" frameborder="0" allowfullscreen></iframe>

<br /><br />

<p><strong><a href="https://app.sitevalidator.com/users/sign_up">Try Site Validator free for 14 days</a></strong>.</p>
