---
title: Sortable columns
tags: improvements, html validation, css validation
layout: blog
---

<p>You can now order the list of validated URLs in a sitemap by any of its columns.</p>

<p>This is particularly useful to order them by the number of HTML or CSS issues, like this:</p>

<img src="https://dl.dropboxusercontent.com/u/2268180/site_validator/site_validator_order_columns.png" alt="sortable columns screenshot" class="screenshot" />

<p>We hope this makes it easier for you to work on fixing those errors!</p>
