---
title: Unreachable pages
tags: improvements, broken links
layout: blog
---

<p>We've improved the interface of site validation reports, to give more visibility to unreachable pages.</p>

<p>Now, those pages that respond with statuses like <code>404</code>, <code>500</code>, etc., will be shown in a separate tab, like this:</p>

<img src="https://www.dropbox.com/s/04xou4yiyhwj7c2/site_validator_unreachable_pages.png?raw=1" class="screenshot" alt="Unreachable pages screenshot" />

<p>You can click on each page to see more details, like the exact response status code and the page that is linking to it, so you can fix the link.</p>

<p>We hope this saves you even more time on your web validation workflow!</p>
