---
title: New interface for site cards
tags: improvements, interface
layout: blog
---

<p>Now that Site Validator lets you <a href="http://sitevalidator.com/blog/2014/12/storing-versions-of-your-site-validation-reports/">store old versions of your site validations</a>, and now that we've <a href="http://sitevalidator.com/blog/2015/01/store-more-validations/">increased the number of reports you can store</a>, the sitemaps list for most users started to grow too much.</p>
<p>To make it easier for you to focus on work being done on a particular site, we've grouped together the site validation reports per host, so now you can quickly see the current status of each site, in the form of these little site cards:</p>
<%= image_tag 'http://sitevalidator.com/images/site_validator_card.png', alt: "Site card example", class: "screenshot" %>
<p>Site cards let you see at a glance the status of a site, and quickly access and manage the site validations for each site. It's now also easier to remove several site validations reports, just check the ones you want to remove and click the "Delete" button, or remove the entire site directly from the card.</p>
