---
title: Four oh four not found
---

<div>
  <h1>404 Not Found</h1>
  <p>
    Sorry, we could not find what you're looking for.
  </p>
  <p>
    <%= link_to "Click here to go to the home page", "/" %>
  </p>
</div>
