---
home: true
title: Site Validator
---

<div class="lead-container">

  <div class="container">
    <div id="intro_video" class="span8 zero">
      <a href="//fast.wistia.net/embed/iframe/tsnw0okrs0?popover=true" class="wistia-popover[height=433,playerColor=7b796a,width=720]"><%= image_tag "sitevalidator-intro.gif", alt: "Site Validator demo video" %></a>

      <div class="intro-titlebar">
				<h1>HTML, CSS &amp; Accessibility</h1>
				<h2 class="lema">Site-wide <strong>validation</strong></h2>
			</div>
    </div>

		<div id="intro_form" class="span4">
			<div class="row form_signup">
				<h2><strong>Try</strong> Site Validator <strong>free</strong> for 7 days</h2>

				<form accept-charset="UTF-8" action="https://app.sitevalidator.com/users" method="post">
					<div>
						<input id="user_name" type="text" required name="user[name]" placeholder="Your full name">
					</div>

					<div>
						<input id="user_email" type="email" required name="user[email]" placeholder="Your email">
					</div>

					<div>
						<input id="user_password" type="password" required name="user[password]" placeholder="Password">
					</div>

					<div>
						<select id="user_desired_subscription" name="user[desired_subscription]">
              <option value="2">Freelancer - $19 per month</option>
              <option value="3">Studio - $49 per month</option>
              <option value="4">Enterprise - $99 per month</option>
              <option value="6">Freelancer Yearly - $190 per year</option>
              <option value="7">Studio Yearly - $490 per year</option>
              <option value="8">Enterprise Yearly - $990 per year</option></select>
					</div>

					<div>
						<input class="button large yellow signupfree" type="submit" value="Start NOW your free trial" id="submit">
					</div>
				</form>

        <div id="form_info_text">
          By signing up you agree to the <br><a href="https://app.sitevalidator.com/terms_of_service" target="_blank">Terms of Service.</a>
        </div>

			</div>
		</div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="span12">
      <p>Using our service you can <strong>validate HTML, CSS and Accessibility on thousands of pages</strong> from your sites, <strong><a href="http://docs.sitevalidator.com/site-wide-validation" target="_blank">with just one click</a></strong>. Just give us a starting URL and we'll visit it to discover its internal pages, validate each of them <strong>using validation software from W3C and Tenon</strong>, and produce a summary and detailed report in minutes. Then, you can fix your errors and re-check as needed.</p>
      <p style="text-align: center;">
        <br />
        <a href="https://app.sitevalidator.com/s/3c085843df0ee18f78003d1d" target="_blank" title="Click to see a sample report"><%= image_tag 'sample_report.jpg', alt: 'Sample report', class: 'screenshot' %></a>
      </p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span12">
      <h2><strong>Continuous</strong> Validation</h2>

      <p>Site Validator lets you easily <strong>schedule HTML, CSS and Accessibility validations</strong> to be run on your sites periodically, on a daily, weekly or monthly basis.</p>

      <div style="text-align: center; margin-bottom: 30px;">
        <img src="/images/site_validator_scheduled_weekly.png" class="screenshot" alt="Scheduled validation screenshot" />
      </div>

      <p>
        Site Validator easily integrates with modern hosting platforms like <a href="http://docs.sitevalidator.com/continuous-validation/#example-netlify" target="_blank">Netlify</a>, <a href="http://docs.sitevalidator.com/continuous-validation/#example-heroku" target="_blank">Heroku</a> or <a href="http://docs.sitevalidator.com/continuous-validation/#example-cloud-66" target="_blank">Cloud 66</a> via webhooks, so you can set up automatic validations on your sites after a new version is deployed.
      </p>

      <div style="text-align: center; margin: 30px;">
        <a href="//fast.wistia.net/embed/iframe/w2xu1aedtf?popover=true" class="wistia-popover[height=433,playerColor=7b796a,width=720]"><%= image_tag "video_continuous_validation.jpg", alt: "Site Validator continuous validation demo video", class: "screenshot" %></a>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span4">
      <h2><span class="grey">Validate</span> large sites</h2>
      <p>Our web spider will crawl your site and validate each page to collect all their common issues, grouping them together.</p>
      <p>You can also submit an XML sitemap to specify exactly the pages to validate. </p>
      <p><a href="http://docs.sitevalidator.com/site-wide-validation">Read more &raquo;</a></p>
    </div>

    <div class="span4">
      <h2><span class="grey">Continuous</span> validation</h2>
      <p>Schedule your markup validations to run on a daily, weekly, or monthly basis, or set up a web hook to trigger validations.</p>
      <p>Validation results will be emailed directly to your inbox</p>
      <p><a href="http://docs.sitevalidator.com/continuous-validation">Read more &raquo;</a></p>
    </div>

    <div class="span4">
      <h2><span class="grey">Local server</span> validation</h2>
      <p>Site Validator easily integrates with third-party tools like ngrok to validate your local web server.</p>
      <p>You don't need to go live to be able to validate your sites. </p>
      <p><a href="http://docs.sitevalidator.com/validating-your-local-server">Read more &raquo;</a></p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span12">
      <p style="text-align: center;">
        <br />
        <a href="https://app.sitevalidator.com/pricing" class="button large yellow">See plans and pricing</a>
      </p>
      <p style="text-align: center;">
        <br />
        You can try any Site Validator plan <strong>completely free</strong> for 7 days.
      </p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span12">
      <h2>What our users say</h2>
      <p>Web studios and freelance developers from all around the world use Site Validator to validate HTML, CSS and Accessibility on their sites as part of their  web development process. Our service helps them quickly identify the parts of their sites that need more attention, so they can be fixed and re-checked until they're valid.</p>
    </div>
  </div>

  <%= partial 'testimonials' %>

  <hr />

  <div class="row">
    <div class="span12">
      <p style="text-align: center;">
        <br />
        <a href="https://app.sitevalidator.com/pricing" class="button large yellow">Create a free account</a>
      </p>
      <p style="text-align: center;">
        <br />
        You can try any Site Validator plan <strong>completely free</strong> for 7 days.
      </p>
    </div>
  </div>

</div>
